<% lists.each do |list| %>
  <tr>  
    <th scope="row">
      <%= link_to favorite_path(list_id: list), method: :put, remote: true, class: 'btn favorite' do %>
        <i class="<%= change_star(list, current_user) %> fa-star not-favorite"></i>
      <% end %>
    </th>
    <td><%= list.title %></td>
    <td><%= list.user.email %></td>
  </tr>
<% end %>