<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <%= link_to 'AS-MiniApp', root_path, class: 'navbar-brand' %>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <%= render 'shared/user_signed_in' if user_signed_in? %>
    <%= render 'shared/user_signouted' unless user_signed_in? %>
  </div>
</nav>