<ul class="navbar-nav mr-auto">
  <li class="nav-item">
    <%= link_to 'Listas públicas', '#', class: 'nav-link' %>
  </li>
  <li class="nav-item">
    <%= link_to 'Favoritadas', '#', class: 'nav-link' %>
  </li>
</ul>
<ul class="navbar-nav ml-auto">
  <li class="nav-item">
    <%= link_to current_user.email, '', class: 'nav-link' %>
  </li>
  <li class="nav-item">
    <span class="nav-link">|</span>
  </li>
  <li class="nav-item">
    <%= link_to 'Sair', destroy_user_session_path, class: 'nav-link' %>
  </li>
</ul>