<main class="container" id="main">
  <% if user_signed_in? %>
    <%= link_to new_list_path, remote: true do %>
      <i class="fas fa-plus"></i>
      <span>Nova lista</span>
    <% end %>
    <div id="user-lists" class="mt-3">
      <h3>Você não tem nenhuma lista no momento.</h3>
    </div>
    <%= render 'shared/modal' %>
  <% else %>
    <div class="jumbotron">
      <div class="container">
        <p class="lead">Bem vindo(a) ao</p>
        <h1 class="display-4">AS-MiniApp</h1>
      </div>
    </div>
  <% end %>
</main>
  